<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${search.domain}" th:text="|Domain ${search.domain.id}|"></title>
    <title th:unless="${search.domain}" th:text="|Domain ${search.domainName} not found|"></title>
</head>
<body>
<h1 th:replace="main.html :: mainHeader"></h1>
<div th:if="${search.domain}">
    <h3 th:text="|Domain ${search.domain.id}:|"></h3>
    <form action="#" th:action="@{/edit/domain}" th:object="${domain}" method="post">
        <label for="editDomain">Domain: </label>
        <input type="text" id="editDomain" th:field="*{id}" readonly="readonly" />
        <button name="action" value="update" type="submit">Update</button>
        <button name="action" value="back" type="submit">Back</button>
    </form>
</div>
<div th:unless="${search.domain}">
    <h3 th:text="|Domain &quot;${search.domainName}&quot; not found.|"></h3>
    <p>You can create it here</p>
    <form action="#" th:action="@{/create/domain}" th:object="${search}" method="post">
        <label for="createDomain">Domain: </label>
        <input type="text" id="createDomain" th:field="*{domainName}" readonly="readonly" />
        <button name="action" value="create" type="submit">Create</button>
        <button name="action" value="back" type="submit">Back</button>
    </form>
</div>
</body>
</html>